.navbar-brand img{
    width: 85px;
    
}

.mclaren1{
    float: right;
    height: 25rem;
    margin-left: 15px;
    margin-right: 20px;
}

.mclaren2{
    float: left;
    margin-right: 20px;
    width: 1275px;  
    margin-top: 10px;
}

.alonso{
    width: 1920px;  
}

.text2{
    margin-left: 20px;
}

.szin{
    text-decoration: none;
    color: black;
}
