.navbar-brand img{
    width: 85px;
    
}

.mclaren1{
    float: right;
    height: 25rem;
    margin-left: 15px;
    margin-right: 20px;
}

.mclaren2{
    float: left;
    margin-right: 20px;
    width: 1275px;  
    margin-top: 10px;
    padding: 0;
}

.alonso{
    width: 1920px;  
}

.text2{
    margin-left: 20px;
}

.szin{
    text-decoration: none;
    color: white;
}

.hatterml{
    background-image: url(kepek/mclaren/R\ \(1\).jfif);
}

.naptarv{
    background-color: black;
    color: white;
}

.logok img{
    width: 75px;
    padding: 15px;
}
.red{
    width: 475px;
}

.tablazat:hover{
    background-color: rgba(200, 200, 200, 0.2);
    
}
.redlogo{
    width: 475px;
    margin-right: 30px;
}
.sziiiiin{
    text-decoration: none;
    color: black;
}