.navbar-brand img{
    width: 85px;
    
}

.mclaren1{
    float: right;
    height: 25rem;
    margin-left: 15px;
    margin-right: 20px;
}

.mclaren2{
    float: left;
    margin-right: 20px;
    width: 1275px;  
    margin-top: 10px;
    padding: 0;
}

.alonso{
    width: 1920px;  
}

.text2{
    margin-left: 20px;
}

.szin{
    text-decoration: none;
    color: white;
}
.hamilton{
    float: right;
    height: 25rem;
    margin-left: 15px;
    margin-right: 20px;
}
.russell{
    float: left;
    height: 25rem;
    margin-left: 15px;
    margin-right: 20px;
}

.hatterml{
    background-image: url(kepek/mclaren/R\ \(1\).jfif);
}

.naptarv{
    background-color: black;
    color: white;
}

.logok img{
    width: 75px;
    padding: 15px;
}